{sys, [
       {lib_dirs, ["../deps","../../"]},
       {rel, "stayunlost", "1",
        [
         kernel,
         stdlib,
         sasl,
         stayunlost,
         cowboy
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "stayunlost"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, stayunlost, [{incl_cond, include}]},
       {app, cowboy, [{incl_cond, include}]}
      ]}.

{target_dir, "stayunlost"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/stayunlost", "bin/stayunlost"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
